  .password-eye-icon {
    color:white;
  }
 
  .input-group-text {
    padding: 0.375rem 0.75rem;
    margin: 0;
    border: 1px solid #ced4da; 
    background-color: #455A64;
  }
  
  .form-control {
    border-radius: 0; 
  }

  
 