.trcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; /* Adjust width as needed */
    position: relative; /* For tooltip positioning */
}

.trcontainer > div {

    width: 180px; /* Width of each main div */
    height: 40px; /* Height of each main div */
    margin: 0px;
    background-color: lightblue; /* Color of the main divs */
    position: relative; /* For tooltip positioning */
    display: flex;
    margin: 1px;
    padding: 2px;
    border-radius: 7px 0px 7px 0px;  /* To arrange sections inside */
}

.trsection {
    flex: 1; /* Each section takes equal space */
    height: 100%; /* Full height of the main div */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; /* For tooltip positioning */
}



/* .trsection::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    visibility: hidden; 
    opacity: 0;
    transition: opacity 0.2s;
} */

.trsection:hover::after {
    visibility: visible; /* Show on hover */
    opacity: 1; /* Fade in */
}

.expand-button,
.collapse-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.expand-button:hover,
.collapse-button:hover {
  background-color: #0056b3;
}

.trcontainer {
  display: flex;
  align-items: center;
}

.box {
  margin: 0 10px;
  position: relative;
}

.box2{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0%;
}
.box3{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box7{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightblue-card {
  background-color: lightblue !important;
  display: flex;
  flex-direction: column;
  margin: 3px;
}

.lightgreen-card {
  background-color: lightgreen !important;
  display: flex;
  flex-direction: column;
  margin: 4px !important;
}

.lightred-card {
  background-color: lightcoral !important;
  display: flex;
  flex-direction: column;
  margin: 4px !important; /* Light red color */
}