/* CSS for ProjectDetailsTable */

/* Style for selected rows */
.selected-checkbox-row {
  background-color: #e7f0ff; /* Light blue for selected rows with checkboxes */
}

/* Hide checkboxes by default on small and medium screens */
@media (max-width: 991px) {
  .checkbox-column {
    display: none;
  }
}

/* Ensure checkboxes are always visible on large screens */
@media (min-width: 992px) {
  .checkbox-column {
    display: table-cell;
  }
}

.checkbox-column {
  width: 50px; /* Adjust the width as needed */
}

.custom-placeholder {
  color: rgba(0, 0, 0, 0.993);
}

.striped-table .ant-table-tbody > tr:nth-child(odd) {
  background-color: #f5f5f5; /* or any color you prefer for odd rows */
}

.striped-table .ant-table-tbody > tr:nth-child(even) {
  background-color: #ffffff; /* or any color you prefer for even rows */
}

/* .text-center-table thead{
    background-color: black !important;
  } */

  .pending-row td {
    background-color: #ffe6e6; /* light red */
  }
  
  .started-row td {
    background-color: #cce6ff; /* light blue */
  }
  
  .completed-row td {
    background-color: #c6f7d0; /* light green */
  }

  /* .custom-table-header {
    background-color: #dad6d6; 
  } */